/* BENEFICIOS */
#beneficios {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
}

#beneficios h3 {
    color: #4285ff;
    margin-bottom: 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#beneficios .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    justify-items: center;
    padding: 0 20px;
}

#beneficios .texto-beneficio {
    color: #000;
    padding: 10px 0;
    /* Espaciado vertical interno */
    width: 100%;
    padding-right: 10px;
    text-align: left;
}

#beneficios .texto-beneficio h4 {
    color: #4285ff;
}

#beneficios .item {
    display: flex;
    align-items: center;
    /* Centrado vertical */
    gap: 10px;
    /* Espacio entre ícono y texto */
    padding: 20px;
    min-height: 120px;
    position: relative;
    /* Para posicionamiento relativo */
    overflow: visible;
    /* Asegura que todo el contenido sea visible */
}


#beneficios .item img {
    max-height: 40px;
    margin-bottom: 10px;
}

#beneficios .item p {
    font-size: 0.95rem;
    margin: 0;
}

#beneficios .icono-beneficio {
    font-size: 4.0em;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    /* Ocupa toda la altura del item */
    padding: 0 20px;
    margin: 0;
    /* Reseteamos márgenes */
    color: #4285ff;
    border-radius: 10px 0 0 10px;
    align-self: stretch;
    /* Extiende altura */
}

#beneficios .texto-beneficio {
    flex: 1;
    /* Ocupa el espacio restante */
    padding: 10px 5px;
    /* Espaciado interno */
}

#beneficios .texto-beneficio {
    flex: 1;
    /* Ocupa el espacio restante */
    padding: 10px 5px;
    /* Espaciado interno */
}

#beneficios .texto-beneficio h3 {
    margin: 0 0 8px 0;
    font-size: 1.2em;
}

#beneficios .texto-beneficio p {
    margin: 0;
    line-height: 1.5;
}


#beneficios .texto-beneficio {
    padding: 10px 0;
    /* Espaciado vertical interno */
}

/* TESTIMONIOS */
#testimonios {
    background-color: white;
    padding: 40px 20px;
    color: white;

}